/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');


/* Sections style */
@import url('./header.css');
@import url('./badges.css');
@import url('./back-link.css');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* ====== COMMON ====== */

.container {
  max-width: 1128px;
  padding: 24px;
  margin: 0 auto;
}

.main-title {
  margin-bottom: 24px;
}

.back-link {
  display: inline-block;
  margin-bottom: 16px;
}

/* ====== GALLERY ====== */

.gallery {
  list-style: none;
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.gallery-item {
  height: 200px;
  overflow: hidden;
}

.gallery-link {
  display: block;
  width: 100%;
  height: 100%;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: transform 250ms ease;
}

.gallery-link:hover .gallery-image {
  transform: scale(1.05);
  cursor: zoom-in;
}

/* ====== FORM ====== */

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 360px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.feedback-form input,
.feedback-form textarea {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
}

.feedback-form button {
  width: 95px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #4e75ff;
  color: #ffffff;
  cursor: pointer;
}

.feedback-form button:hover {
  background-color: #6c8cff;
}